.bg-img{
    background: url("/img/pizza3.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

}
.map{
    height: 100vh;
}

.map img{
    width: 100%;
}
.city-select .restaurant {
    background-image: url("/img/pizzapoi.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 77px;
    height: 84px;
    display: block;
    position: absolute;
    -webkit-transition: 250ms;
    transition: 250ms;
}
.city-select .restaurant span {
    position: absolute;
    left: 76px;
    top: 28px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.51);
    color: #fff;
    padding: 2px 5px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.city-select .restaurant:hover {
    margin-top: -6px;
    height: 80px;
}

.city-select .restaurant:hover span {
    visibility: visible;
    opacity: 1;
}
.szeged{
    left: 56%;
    top: 64%;
}
.bp{
    left: 42%;
    top: 33%;
}
.debrecen {
    left: 77%;
    top: 35%;
}
.menudiv{
    display: none;
}
@media (max-width: 1199px) {

    .szeged {
        top: 62%;
        left: 56%;
    }
    .bp {
        left: 42%;
        top: 35%;
    }

}
@media (max-width: 991px) {
    .szeged {
        top: 56%;
        left: 54%;
    }
    .debrecen {
        left: 75%;
    }
    .bp {
        left: 40%;
    }

}
@media (max-width: 767px) {
    .city-select .restaurant {
        background: none;
    }
    .map img{
        display: none !important;
    }
    .city-select .restaurant span{
        display: none !important;
    }

    .menudiv li{
        width: 100%;
        font-size: 40px;
        display: block;
        text-align: center;
        background: #FF9900;
        margin-bottom: 10px;
    }

    .menudiv li:nth-child(2) {
        background: #DE1E27;
    }
    .menudiv li a{
        color: white;
    }
    .menudiv{
        display: block;
        position: relative;
        top: 50%;
    }

}
.popularpizza{
    padding-top: 50px;

}

.popularpizza h2{
    text-align: center;
    padding-top: 10px;
}
.popularpizza img{
    border-radius: 25px;
}

/*Banner area */

.banner_area{
    background-position: center;
    text-align: center;
    position: relative;
    padding-bottom: 70px;
    height: 680px;
}
.banner_area h2 {
    color: #c69963;
    font: 5.5rem "Niconne", cursive;
    padding-top: 85px;
}
.banner_area .breadcrumb {
    background-color: transparent;
    padding-top: 15px;
}
.banner_area .breadcrumb li a {
    font: 400 30px "Teko", sans-serif;
    color: #fefefe;
}
.banner_area .breadcrumb li a.active {
    color: #FF8000;
}
.breadcrumb-item.active {
    font: 400 30px "Teko", sans-serif;
}
.banner_area .bg-dark{
    background: transparent!important;
    transition: 750ms ease;
}
.banner_area .bg-dark.scrolled{
    background: #a33327 !important;
}
.navbar-brand img{
    width: 80px;
}
.navbar-dark .navbar-nav .nav-link{
    color: white!important;
    font-size: 20px;
}






.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carda{
    cursor: pointer;
    width: 520px;
    height: 350px;
}
.pizzacardname{
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    background-size: cover;
}
.front{
    background-image: url("/img/poppizza.jpg");
    background-size: cover;
    transform: perspective(600px) rotateY(0deg);
    border: #FFA600 solid 10px;
}
.back{
    background: #FFA600 ;
    padding: 40px;
    border: #a33327 solid 10px;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: white;
    text-align: left;
    width: 100%;
}
.sm{
    margin: 20px 0;
}
.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
}
.sm a:hover{
    background: #2c3e50;
    color: white;
}
.carda:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.carda:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
.cardinfo{
    display: block !important;
}
.cardinfo h2{
    float: left;
    text-transform: uppercase;
    display: block;
}
.cardinfo span{
    background: #a33327;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;

}
.cardinfohozzavalo{
    padding-top: 40px;
}
.back::before,.front::after{
    content: "";
    position: absolute;
    right: 0;
}

.back::before{
    background: url("/img/pizzapop.png");
    width: 100%;
    height: 120px;
    bottom: 30%;
    transform: rotate(270deg);
    right: -40%;

}

.back::after {
    background: url("/img/pizzapop.png");
    width: 100px;
    height: 100%;
    top: 0;

}
.pizzacim h2{
    font-size: 3rem;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50!important;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-icon {
    color: #a33327!important;
    font-size: 2rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

