.bg-img{
    background: url("/img/pizza3.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

}
.map{
    height: 100vh;
}

.map img{
    width: 100%;
}
.city-select .restaurant {
    background-image: url("/img/pizzapoi.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 77px;
    height: 84px;
    display: block;
    position: absolute;
    -webkit-transition: 250ms;
    transition: 250ms;
}
.city-select .restaurant span {
    position: absolute;
    left: 76px;
    top: 28px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.51);
    color: #fff;
    padding: 2px 5px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.city-select .restaurant:hover {
    margin-top: -6px;
    height: 80px;
}

.city-select .restaurant:hover span {
    visibility: visible;
    opacity: 1;
}
.szeged{
    left: 56%;
    top: 64%;
}
.bp{
    left: 42%;
    top: 33%;
}
.debrecen {
    left: 77%;
    top: 35%;
}
.menudiv{
    display: none;
}
@media (max-width: 1199px) {

    .szeged {
        top: 62%;
        left: 56%;
    }
    .bp {
        left: 42%;
        top: 35%;
    }

}
@media (max-width: 991px) {
    .szeged {
        top: 56%;
        left: 54%;
    }
    .debrecen {
        left: 75%;
    }
    .bp {
        left: 40%;
    }

}
@media (max-width: 767px) {
    .city-select .restaurant {
        background: none;
    }
    .map img{
        display: none !important;
    }
    .city-select .restaurant span{
        display: none !important;
    }

    .menudiv li{
        width: 100%;
        font-size: 40px;
        display: block;
        text-align: center;
        background: #FF9900;
        margin-bottom: 10px;
    }

    .menudiv li:nth-child(2) {
        background: #DE1E27;
    }
    .menudiv li a{
        color: white;
    }
    .menudiv{
        display: block;
        position: relative;
        top: 50%;
    }

}
.popularpizza{
    padding-top: 50px;

}

.popularpizza h2{
    text-align: center;
    padding-top: 10px;
}
.popularpizza img{
    border-radius: 25px;
}

/*Banner area */

.banner_area{
    background-position: center;
    text-align: center;
    position: relative;
    padding-bottom: 70px;
    height: 680px;
}
.banner_area h2 {
    color: #c69963;
    font: 5.5rem "Niconne", cursive;
    padding-top: 85px;
}
.banner_area .breadcrumb {
    background-color: transparent;
    padding-top: 15px;
}
.banner_area .breadcrumb li a {
    font: 400 30px "Teko", sans-serif;
    color: #fefefe;
}
.banner_area .breadcrumb li a.active {
    color: #FF8000;
}
.breadcrumb-item.active {
    font: 400 30px "Teko", sans-serif;
}
.banner_area .bg-dark{
    background: transparent!important;
    transition: 750ms ease;
}
.banner_area .bg-dark.scrolled{
    background: #FF8000!important;
}




.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carda{
    cursor: pointer;
    width: 520px;
    height: 350px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    background-size: cover;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.sm{
    margin: 20px 0;
}
.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
}
.sm a:hover{
    background: #2c3e50;
    color: white;
}
.carda:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.carda:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
