@font-face {
    src: url("/fonts/panpizza.ttf");
    font-family: panpizza;
}
body.home{
    background-color: #f3ecb8 !important;

}
.bg-img{
    background: url("/img/pizza3.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
.nemtudom{
    font-family: panpizza;
}
.map{
    height: 100vh;
}

.map img{
    width: 100%;
}
.city-select .restaurant {
    background-image: url("/img/pizzapoi.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 77px;
    height: 84px;
    display: block;
    position: absolute;
    -webkit-transition: 250ms;
    transition: 250ms;
}
.city-select .restaurant span {
    position: absolute;
    left: 76px;
    top: 28px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.51);
    color: #fff;
    padding: 2px 5px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.city-select .restaurant:hover {
    margin-top: -6px;
    height: 80px;
}

.city-select .restaurant:hover span {
    visibility: visible;
    opacity: 1;
}
.szeged{
    left: 56%;
    top: 64%;
}
.bp{
    left: 42%;
    top: 33%;
}
.debrecen {
    left: 77%;
    top: 35%;
}
.menudiv{
    display: none;
}
.popularpizza{
    padding-top: 50px;

}
.popularpizza h2{
    text-align: center;
    padding-top: 10px;
}
.popularpizza img{
    border-radius: 25px;
}

/*Banner area */

.banner_area{
    background-position: center;
    text-align: center;
    position: relative;
    padding-bottom: 70px;
    height: 680px;
}

header .bg-dark{
    background: transparent!important;
    transition: 750ms ease;
}
header .bg-dark.scrolled{
    background: #a33327 !important;
}
.navbar-brandd{
    position: absolute;
    padding-top: 30px!important;
}
.navbar-brand img{
    width: 120px;
}
.navbar-dark .navbar-nav .nav-linkk{
    color: white!important;
    font-family: panpizza;
    font-size: 40px;
}
.navbar-dark .navbar-nav .nav-linkk a:hover{
color: #c51f1a!important;
}
header .navbar-nav .nav-link:focus, header .navbar-nav .nav-link:hover {
    color: #FFA600 !important;
}

.navbar-dark .navbar-togglerr{
    margin-left: 90%;
    border-color: white!important;
}
.kicsimeretlogo{
    display: none !important;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carda{
    cursor: pointer;
    width: 520px;
    height: 350px;
    border: none !important;
    background-color:#f3ecb8 !important;
}
.pizzacardname{
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    background-size: cover;
}
.front{
    background-image: url("/img/poppizza.jpg");
    background-size: cover;
    transform: perspective(600px) rotateY(0deg);
    border: #FFA600 solid 10px;
}
.back{
    background: #FFA600 ;
    padding: 40px;
    border: #a33327 solid 10px;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: white;
    text-align: left;
    width: 100%;
}
.sm{
    margin: 20px 0;
}
.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
}
.sm a:hover{
    background: #2c3e50;
    color: white;
}
.carda:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.carda:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
.cardinfo{
    display: block !important;
}
.cardinfo h2{
    float: left;
    text-transform: uppercase;
    display: block;
}
.cardinfo span{
    background: #a33327;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;

}
.cardinfohozzavalo{
    padding-top: 40px;
}
.back::before,.front::after{
    content: "";
    position: absolute;
    right: 0;
}

.back::before{
    background: url("/img/pizzapop.png");
    width: 100%;
    height: 120px;
    bottom: 30%;
    transform: rotate(270deg);
    right: -40%;

}

.back::after {
    background: url("/img/pizzapop.png");
    width: 100px;
    height: 100%;
    top: 0;

}.pizzacim{
    margin-bottom: -50px;
    position: relative;
 }
.pizzacim h2{
    font-family: panpizza;
    font-size: 5.2rem;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50!important;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-icon {
    color: #a33327!important;
    font-size: 2rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-linee {
    width: 100%;
    max-width: 9rem;
    height: .25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50!important;
}
.divider-custom .divider-custom-linee:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-linee:last-child {
    margin-left: 1rem;
}
.pizzafeed{
    padding-top: 80px;
}
.ft-recipe {
    width: 460px;
    height: 654px;
    background: var(--white);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
    overflow: hidden;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ft-recipe .ft-recipe__thumb {
    position: relative;
    height: 281px;
    box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
    background-color: #a33327;
}
.ft-recipe .ft-recipe__thumbm {
    position: relative;
    height: 281px;
    box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
    background-color: #FFA600;
}

.ft-recipe .ft-recipe__thumb #close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: #000;
    color: var(--white);
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.ft-recipe .ft-recipe__thumb #close-modal:hover {
    background: transparent;
}
.ft-recipe .ft-recipe__thumb h3 {
    text-align: center;
    position: absolute;
    margin: 0;
    width: 100%;
    color: var(--white);
    font-size: 25px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(transparent));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
    padding: 2.4rem 0 0;
}
.ft-recipe .ft-recipe__thumb img {
    width: 60%;
}
.ft-recipe .ft-recipe__thumbm img {
    width: 60%;
}
.ft-recipe .ft-recipe__content {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 2em 1em;
}
.ft-recipe .ft-recipe__content .content__header .row-wrapper {
    display: -webkit-box;
    display: flex;
    padding: .55em 0 .3em;
    border-bottom: 1px solid #d8d8d8;
}
.ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
    font-weight: 600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details {
    display: -webkit-box;
    display: flex;
    list-style: none;
    padding: 1.4em 0 1em;
    margin: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item {
    -webkit-box-flex: 1;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item i {
    font-size: 30px;
    color: #FFA600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .value {
    color: #FFA600;
    margin-left: .35em;
    vertical-align: bottom;
    font-size: 24px;
    font-weight: 600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .title {
    display: block;
    margin-top: -4px;
    font-size: 21px;
    font-weight: 300;
}
.ft-recipe .ft-recipe__content .description {
    margin: .3em 0 1.8em;
}
.ft-recipe .ft-recipe__content .content__footer {
    text-align: center;
    margin: 0 3rem;
}
.ft-recipe .ft-recipe__content .content__footer a {
    display: inline-block;
    background: #FFA600;
    padding: .45em 1em;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: 17px;
    -webkit-transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
    transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease;
}
.ft-recipe .ft-recipe__content .content__footerm {
    text-align: center;
    margin: 0 3rem;
}
.ft-recipe .ft-recipe__content .content__footerm a {
    display: inline-block;
    background: #a33327;
    padding: .45em 1em;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: 17px;
    -webkit-transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
    transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease;
}
.ft-recipe .ft-recipe__content .content__footerm a:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
}
.ft-recipe .ft-recipe__content .content__footer a:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
}

@media (max-width: 1199px){
    .szeged {
        top: 62%;
        left: 56%;
    }
    .bp {
        left: 42%;
        top: 35%;
    }
    .carda{
        width: 420px;
        height: 320px;
    }
    .back::before{
        bottom: 20%;
    }
}
@media (max-width: 991px){
    .szeged {
        top: 56%;
        left: 54%;
    }
    .debrecen {
        left: 75%;
    }
    .bp {
        left: 40%;
    }
    .carda{
        width: 520px;
        height: 350px;
    }
    .back::before{
        bottom: 20%;
    }
    .back::before{
        bottom: 30%;
    }
    .picimeret{
        padding-bottom: 80px;
    }
    .navbar-brandd{
        position: absolute;
        padding-top: 70px!important;
        display: none !important;
    }
    .kicsimeretlogo{
        display: inline-block!important;
    }
    .kicsimeretlogo img{
        width: 80px;
    }
    .navbar-togglerr{
        display: flex;
        margin-top: -90px!important;
    }
}
@media (max-width: 767px) {
    .city-select .restaurant {
        background: none;
    }
    .map img{
        display: none !important;
    }
    .city-select .restaurant span{
        display: none !important;
    }

    .menudiv li{
        width: 100%;
        font-size: 40px;
        display: block;
        text-align: center;
        background: #FF9900;
        margin-bottom: 10px;
    }

    .menudiv li:nth-child(2) {
        background: #DE1E27;
    }
    .menudiv li a{
        color: white;
    }
    .menudiv{
        display: block;
        position: relative;
        top: 50%;
        z-index: 400;
    }

}
@media (max-width: 540px){
    .carda{
        width: 420px;
        height: 320px;
    }
    .back::before{
        bottom: 20%;
    }
    .ft-recipe{
        width: 400px;
    }
}
@media (max-width: 425px) {
    .navbar-dark .navbar-togglerr{
        margin-left: 80%;
    }
    .carda{
        width: 400px;
    }

}
@media (max-width: 375px){
    .carda{
        width: 345px;
        height: 258px;
    }
    .back::before{
        bottom: 6%;
    }
    .back{
        padding: 10px;
    }
    .cardinfo h2{
        font-size: 1.5rem;
    }
    .cardinfohozzavalo{
        padding-top: 0;
    }
    .banner_area{
        height: 300px;
    }
    .navbar-dark .navbar-togglerr{
        margin-left: 80%;
    }
    .ft-recipe{
        width: 345px;
    }
}
@media (max-width: 320px){
    .carda{
        width: 290px;
        height: 217px;
    }
    .back::before{
        bottom: 6%;
    }
    .ft-recipe{
        width: 290px;
    }
}





